name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build-and-push:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push the backend Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./ProductionAnalisysAPI/Dockerfile
        push: true
        tags: antspring/production-analysis-backend

    - name: Build and push the migrate Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./ProductionAnalisysAPI/Migrations.Dockerfile
        push: true
        tags: antspring/production-analysis-migrate

    - name: Trigger deployment
      uses: peter-evans/repository-dispatch@v4
      with:
        token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        repository: antspring/ProductionAnalisysConfiguration
        event-type: deploy
